<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceClientLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ServiceClientLayer.Properties.Settings>
            <setting name="ServiceClientLayer_JustEatWebService_webservices"
                serializeAs="String">
                <value>http://www.just-eat.co.uk/webservice/webservices.asmx</value>
            </setting>
        </ServiceClientLayer.Properties.Settings>
    </applicationSettings>
</configuration>